<template>
  <component
    class="Button"
    :class="{[`Button--${variant}`]: variant  }"
    :is="element"
    :to="to"
    v-bind="computedAttributes"
  >
    <slot></slot>
  </component>
</template>

<script lang="ts" setup>
  interface Props {
    element?: string,
    to?: string,
    variant?: string | null,
  }

  withDefaults(defineProps<Props>(), {
    element: 'button',
    variant: null,
  });

  const attrs = useAttrs();
  const computedAttributes = computed(() => attrs);
</script>

<style lang="scss">
  .Button {
    width: 100%;
    padding: 0.625rem; 
    border: none;
    background-color: rgb(var(--color-tertiary), 1);

    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgb(var(--color-base));

    cursor: pointer;

    &--icon {
      background: none;
      width: min-content;
    }

    &--link {
      background: none;
      width: min-content;
    }

    &:hover {
      opacity: 0.8;
    }
  }
</style>
