<template>
	<div class="TreeApp">
		<SidePanel class="TreeApp__sidePanel" />
		<TreeView class="TreeApp__treeView" />
	</div>
	<PopupAddBranch />
	<PopupEditBranch />
	<PopupDeleteBranch />
	<PopupEditTree />
</template>

<style lang="scss">
.TreeApp {
	display: flex;

	&__sidePanel {
		width: 30vw;
		min-width: 300px;
		max-width: 400px;
		height: 100%;
		min-height: 100vh;
	}

	&__treeView {
		flex: 1;
		min-height: 100vh;
	}
}
</style>
