<template>
	<aside class="SidePanel">
		<h2 class="SidePanel__title">Tree's</h2>
		<form @submit.prevent="onSubmit" class="SidePanel__form">
			<AppInput 
			  id="NewTree"
				type="text"
				class="SidePanel__input"
				placeholder="Tree name"
				:required="true"
				v-model:value="newTree"
			>
			  Add new tree
			</AppInput>
			<AppButton type="submit" class="SidePanel__submit">
				<Icon name="material-symbols:add" color="white" />
			</AppButton>
		</form>
		<ul class="SidePanel__list">
			<li @click="setCurretTree(item.id)" v-for="item in trees" class="SidePanel__item">
				<div class="SidePanel__buttonBg">
					<AppButton type="button" class="SidePanel__button" @click="(e) => deleteTree(e, item.id)">
						<Icon name="material-symbols:delete-rounded" color="white" />
					</AppButton>
				</div>
				<AppButton type="button" class="SidePanel__button" @click="(e) => editTree(e, item.id)">
					<Icon name="material-symbols:edit" color="white" />
				</AppButton>
				<div class="SidePanel__text">{{ item.name }}</div>
			</li>
		</ul>
	</aside>
</template>

<script lang="ts" setup>
import { toast } from 'vue3-toastify';

const nuxt: any = useNuxtApp();
const treeStore = useTreeStore();
await treeStore.fetchTrees();
const trees = computed(() => treeStore.getTrees);
let newTree: string;

const onSubmit = async () => {
	try {
		await treeStore.addTree(newTree);
		toast.info('Successfull created a tree.');
		newTree = '';
	} catch (error: any) {
		toast.error(error);
	}
}

const deleteTree = async (event: Event, id: string) => {
	event.stopPropagation();
	try {
		await treeStore.deleteTree(id);
		toast.info('Successfull deleted a tree.');
	} catch (error: any) {
		toast.error(error);
	}
}

const editTree = async (event: Event, id: string) => {
	event.stopPropagation();
	nuxt.$emitter.emit('openEditTreePopup', { id, isMain: false });
}

const setCurretTree = async (id: string) => {
	try {
		await treeStore.setCurrentTree(id);
		toast.info('Successfull fetched a tree.');
	} catch (error: any) {
		toast.error(error);
	}
}
</script>

<style lang="scss">
.SidePanel {
	width: 100%;
	height: 100%;
	border-right: 1px solid rgba(var(--color-black), 1);

	&__title {
		padding: 0rem 0.2rem;
		color: rbga(var(--color-text), 1);
	}

	&__form {
		display: flex;
		align-items: flex-end;
	}

	&__submit {
		font-size: 1rem;
		line-height: 0.7rem;
		max-height: 2rem;
		max-width: 2.5rem;
	}

	&__button {
		font-size: 1.1rem;
		max-width: min-content;
	}

	&__text {
		flex: 1;
		padding-left: 1rem;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		border-bottom: 1px solid black;
		font-weight: 400;
		color: rgba(var(--color-text), 1);
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			background-color: rgba(var(--color-black), 0.2);
		}
	}
}
</style>
