<template>
	<div class="Branch">
		<div class="Branch__root"></div>
		<div class="Branch__wrapper">
			<div class="Branch__value">{{ branch.Props.value }}</div>
			<div class="Branch__form">
				<AppButton type="button" @click="addLeaf" class="Branch__button">
					<Icon name="material-symbols:circle" color="white" />
				</AppButton>
				<AppButton type="button" @click="addBranch" class="Branch__button">
					<Icon name="material-symbols:add" color="white" />
				</AppButton>
				<AppButton type="button" @click="editBranch" class="Branch__button">
					<Icon name="material-symbols:edit" color="white" />
				</AppButton>
				<AppButton type="button" @click="deleteBranch" class="Branch__button">
					<Icon name="material-symbols:delete-rounded" color="white" />
				</AppButton>
			</div>
		</div>
		<ul class="Branch__list">
			<li v-for="item in branch.Childs" :key="item.Id" class="Branch__item">
				<TreeBranch :branch="item" :rootId="id" :isMain="false" v-if='item.Type === "Branch"' />
				<TreeLeaf :leaf="item" v-if='item.Type === "Leaf"' />
			</li>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { toast } from 'vue3-toastify';
const props = defineProps<{ branch: any, rootId: string, isMain: boolean }>();
const leafStore = useLeafStore();
const id = props.branch?.Props?.id ?? props.branch?.Values[0]?.Props?.id;

const nuxt: any = useNuxtApp();
const addBranch = async () => nuxt.$emitter.emit('openAddBranchPopup', { id, isMain: false });
const editBranch = async () => nuxt.$emitter.emit('openEditBranchPopup', { id, rootId: props.rootId, isMain: props.isMain });
const deleteBranch = async () => nuxt.$emitter.emit('openDeleteBranchPopup', { id });
const addLeaf = async () => {
	try {
		await leafStore.addLeaf(id);
		toast.info('Successfull added a leaf.');
	} catch (error: any) {
		toast.error(error);
	}
}
</script>

<style lang="scss">
.Branch {
	padding: 0rem 1rem 0 1rem;
	display: flex;
	align-items: flex-start;

	&__root {
		position: absolute;
		width: 1rem;
		margin-left: -1rem;
		margin-top: 1rem;
		border-top: 3px solid brown;
	}

	&__wrapper {
		min-height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
	}

	&__value {
		width: 4rem;
		text-align: center;
	}

	&__form {
		display: flex;
		align-items: flex-end;
	}

	&__input {
		width: 10rem;
	}

	&__button {
		height: 2rem;
		width: 2rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-left: 3px brown solid;
		margin-left: 1rem;
	}
}
</style>

