<template>
	<div class="Leaf">
		<div class="Leaf__root"/>
		<div class="Leaf__wrapper">
			<div class="Leaf__value">{{ leaf.Props.value }}</div>
			<AppButton type="button" @click="deleteLeaf" class="Branch__button">
				<Icon name="material-symbols:delete-rounded" color="white" />
			</AppButton>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { toast } from 'vue3-toastify';
const props = defineProps<{ leaf: any }>();
const leafStore = useLeafStore();
const id = props.leaf?.Props?.id ?? props.leaf?.Values[0]?.Props?.id;

const deleteLeaf = async () => {
	try {
		await leafStore.deleteLeaf(id);
		toast.info('Successfull deleted a leaf.');
	} catch (error: any) {
		toast.error(error);
	}
}
</script>

<style lang="scss">
.Leaf {
	padding: 0rem 1rem;
	display: flex;
	align-items: flex-start;

	&__root {
		position: absolute;
		width: 1rem;
		margin-left: -1rem;
		margin-top: 1rem;
		border-top: 3px solid green;
	}

	&__wrapper {
		min-height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
	}

	&__value {
		width: 4rem;
		text-align: center;
	}
}
</style>
