<template>
	<section class="Root">
		<AppButton type="button" class="Root__add" @click="addBranch">
			<Icon name="material-symbols:add" color="white" />
		</AppButton>
		<ul class="Root__list">
			<li v-for="item in root.Childs" :key="item.Id" class="Root__item">
				<TreeBranch :branch="item" :rootId="id" :isMain="true" v-if='item.Type === "Branch"' />
			</li>
		</ul>
	</section>
</template>

<script lang="ts" setup>
const props = defineProps<{ root: any }>();
let id = props.root?.Props?.id ?? props.root?.Values[0]?.Props?.id;

const nuxt: any = useNuxtApp();
const addBranch = async () => {
	const id = props.root?.Props?.id ?? props.root?.Values[0]?.Props?.id;
	nuxt.$emitter.emit('openAddBranchPopup', { id, isMain: true });
}
</script>

<style lang="scss">
.Root {
	display: flex;
	padding: 1rem;

	&__form {
		height: min-content;
		display: flex;
		align-items: flex-end;
	}

	&__add {
		height: 2rem;
		width: 2rem;
	}

	&__input {
		width: 10rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-left: 3px brown solid;
		margin-left: 1rem;
	}
}
</style>

