<template>
	<main class="TreeView">
		<div class="TreeView__cover" v-if="isFetching"/>
		<div v-if="!tree" class="TreeView__text">
			Select a tree from the list or add a new one.
		</div>
		<tree-root v-else :root="tree" />
	</main>
</template>

<script lang="ts" setup>
const treeStore = useTreeStore();
const tree = computed(() => treeStore.getCurrentTree);
const isFetching = computed(() => treeStore.getFetchingState);
</script>

<style lang="scss">
.TreeView {
	background-color: rgba(var(--color-text), 0.1);
	position: relative;

	&__cover {
		z-index: 2;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(var(--color-text), 0.3);
		top: 0;
		opacity: 0.2;
	}


	&__text {
		padding: 1rem;
		font-weight: 600;
		font-size: 2rem;
		color: rgba(var(--color-text), 1);
	}
}
</style>
