<template>
	<PopupWindow class="Window" customClass="Window--editBranch" ref="windowPopup">
		<h3 class="Window__title">Edit branch</h3>
		<div class="Window__text">
			<AppInput id="NewTree" type="number" class="Window__input" placeholder="Branch value" :required="true"
				v-model:value="branchValue"> Provide branch value </AppInput>
		</div>
		<div class="Window__actions">
			<AppButton class="Window__button confirm" @click="confirm">
				Add
			</AppButton>
			<AppButton class="Window__button cancel" @click="close">
				Cancel
			</AppButton>
		</div>
	</PopupWindow>
</template>

<script lang="ts" setup>
import { toast } from 'vue3-toastify';
const branchStore = useBranchStore();

const windowPopup: Ref<any> = ref();
let branchId: string;
let branchValue: number | null;
let rootId: string;
let isMainBranch: boolean;

const confirm = async () => {
	try {
		await branchStore.editBranch(branchId, branchValue, rootId, isMainBranch);
		toast.info('Successfully edited a branch.');
		windowPopup.value.close()
		branchValue = null;
	} catch (error: any) {
		toast.error(error);
	}
}
const close = () => windowPopup.value.close();

const emitter: any = getCurrentInstance()?.appContext.config.globalProperties.$emitter;
emitter?.on('openEditBranchPopup', ({ id, rootId: _rootId, isMain }: Record<string, any>) => {
	branchId = id;
	rootId = _rootId;
	isMainBranch = isMain;
	windowPopup.value.open();
});
</script>

<style lang="scss">
.Window {
	padding-top: 20rem;

	&--editBranch {
		max-width: 500px;
		min-width: 300px;
		width: 100%;
		background-color: rgba(var(--color-base), 1);
		padding: 1rem 1.3rem;
	}

	&__title {
		font-size: 1.4rem;
	}

	&__text {
		padding-top: 1rem;
		font-size: 0.9rem;
	}

	&__actions {
		margin-top: 3rem;
		display: flex;
		flex-direction: row-reverse;
		gap: 10px;
	}

	&__button {
		width: 100px;

		&.confirm {
			background-color: rgba(var(--color-tertiary), 1);
		}

		&.cancel {
			background-color: rgba(var(--color-red), 1);
		}
	}
}
</style>
