<template>
	<PopupWindow class="Window" customClass="Window--editTree" ref="windowPopup">
		<h3 class="Window__title">Edit tree</h3>
		<div class="Window__text">
			<AppInput 
			  id="NewTree"
				type="string"
				class="Window__input"
				placeholder="Tree name"
				:required="true"
				v-model:value="treeName"
			>
				Enter the name of the tree
			</AppInput>
		</div>
		<div class="Window__actions">
			<AppButton class="Window__button confirm" @click="confirm">
				Confirm
			</AppButton>
			<AppButton class="Window__button cancel" @click="close">
				Cancel
			</AppButton>
		</div>
	</PopupWindow>
</template>

<script lang="ts" setup>
import { toast } from 'vue3-toastify';
const treeStore = useTreeStore();

const windowPopup: Ref<any> = ref();
let id: string;
let treeName: string;

const confirm = async () => {
	try {
		await treeStore.editTree(id, treeName);
		toast.info('Successfully edited tree.');
		windowPopup.value.close()
	} catch (error: any) {
		toast.error(error);
	}
}
const close = () => windowPopup.value.close();

const emitter: any = getCurrentInstance()?.appContext.config.globalProperties.$emitter;
emitter?.on('openEditTreePopup', ({ id: _id, name }: Record<string, any>) => {
	id = _id;
	treeName = name;
	windowPopup.value.open();
});
</script>

<style lang="scss">
.Window {
	padding-top: 20rem;

	&--editTree {
		max-width: 500px;
		min-width: 300px;
		width: 100%;
		background-color: rgba(var(--color-base), 1);
		padding: 1rem 1.3rem;
	}

	&__title {
		font-size: 1.4rem;
	}

	&__text {
		padding-top: 1rem;
		font-size: 0.9rem;
	}

	&__actions {
		margin-top: 3rem;
		display: flex;
		flex-direction: row-reverse;
		gap: 10px;
	}

	&__button {
		width: 100px;

		&.confirm {
			background-color: rgba(var(--color-tertiary), 1);
		}

		&.cancel {
			background-color: rgba(var(--color-red), 1);
		}
	}
}
</style>
