<template>
	<div class="AppPopup" v-if="isOpen" role="dialog">
		<div class="AppPopup__wrapper" :class="customClass">
			<div class="AppPopup__close">
				<button class="AppPopup__button" @click.prevent="close">
					<Icon name="material-symbols:close" color="white" />
				</button>
			</div>
			<div class="AppPopup__container">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
defineProps<{
	customClass: string,
}>();

const isOpen = ref(false);
const open = () => isOpen.value = true;
const close = () => isOpen.value = false;

defineExpose({
	open, close,
});
</script>

<style lang="scss">
.AppPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 102;
	overflow-y: auto;
	background-color: rgba(var(--color-black), 0.4);
	padding-top: 10vh;

	&__wrapper {
		position: relative;
		margin: 0 auto;
	}

	&__close {
		position: absolute;
		left: 0;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		color: black;
	}

	&__button {
		padding-right: 1.1rem;
		padding-top: 0.15rem;
		font-size: 1.4rem;
		cursor: pointer;
		background: none;
		border: none;
		transition: 0.2s;

		&:hover {
			opacity: 0.5;
		}
	}

	&__icon {
		color: rgba(var(--color-text), 1);
		outline: none;
		width: 1.2rem;
		height: 1.2rem;
	}

	&__container {
		width: 100%;
		height: 100%;
	}
}
</style>

